@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Tilt Neon', cursive;
}

h1, h2{
    font-family: 'Carter One', cursive;
}

:root{
    --color1: #f3d597 ;
    --color2: #b6d89c;
    --color3: #92ccb6;
    --color4: #f87887;
    --color5: #8b173e;

  
}
body{
    background-color: var(--color1);
    
}
.principal{
    position: relative;
    height: 800px;
    padding: 10px 80px ;
}
.principal:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url(../imagens/fundo.jpg);
    background-position: 50% 0;
    background-size: cover;
}
.conteudo-principal{
    position: relative;

}
header{
    padding: 20px ;
    display: flex;
    justify-content: space-around;
}
header a{
    border: 2px solid var(--color5);
    border-radius: 20px;
    padding: 8px 50px;
    margin:10px 15px ;
    color: var(--color5);
    text-decoration-line: none;
    font-weight: bold;
    
}

header a:hover{
    background-color: var(--color5);
    color: white;
    border-radius: 30px;
    padding: 10px 53px;
    margin:10px 15px ;
}
main {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px;
    padding-left: 80px;
    
}
main h1{
    margin-bottom: 20px;
    color: var(--color5);
}

main p{
    margin-bottom: 20px;
    color: var(--color5);
}
button{
    margin-right: 10px;
    width: 200px;
    padding: 5px;
    border: 2px solid var(--color5);
    border-radius: 20px;
    background: none;
    color: var(--color5);
    font-weight: bold;
    font-size: medium;
}
button:hover{
    background-color: var(--color5);
    color: white;
    border-radius: 30px;
    padding: 8px;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
}
.slide img{
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -65%;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid var(--color4);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: var(--color4);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid var(--color3);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 364px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--color3);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--color3);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--color3);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--color3);
}